// font sizes

$xsmall: 1rem;
$small: 1.2rem;
$medium: 1.5rem;
$large: 2rem;

// colours

$pink :#fea1a3;
$salmon: #ff9fb7;
$dark-pink:#ff003f;
$gray: #404648;
$light-gray: #dedede;
$black: #2e2e2e;
$white: #fff;
$beige: #F7F3F2;
